@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;

  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;
}

.cat {
  width: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 50px;
}

.fallingChoco {
  width: 53px;
  position: absolute;
  left: 0;
  display: flex;

  animation: fallingAnimationChoco linear;
  animation-duration: 5s;
}

@keyframes fallingAnimationChoco {
  0% {
    top: -10%;
  }

  100% {
    top: 110%;
  }
}

.title {
  text-align: center;
  padding-top: 50px;
  font-family: "Press Start 2P", cursive;
}

.displayingScore {
  line-height: 0;
}

@media screen and (max-width: 700px) {
  .fallingChoco {
    width: 40px;
  }
}
